---
import "../styles/global.css";

import { ViewTransitions } from "astro:transitions";
import Step from "../components/Step.astro";
import Signup from "../components/Signup.astro";

import facebook from "../images/facebook.svg";
import twitter from "../images/twitter.svg";
import instagram from "../images/instagram.svg";

import { getCollection } from "astro:content";
const [meta] = await Astro.glob("../content/meta/*.md");
const metaInfo = {
  title: meta.frontmatter.title,
  description: meta.frontmatter.description,
};

const allSteps = await getCollection("steps");
const steps = allSteps.sort(
  (stepA, stepB) => stepA.data.step - stepB.data.step
);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={metaInfo.description} />
    <meta name="author" content="OuiParty" />
    <meta property="og:description" content={metaInfo.description} />
    <meta property="og:title" content={metaInfo.title} />
    <meta name="twitter:card" content="summary" />
    <meta property="twitter:description" content={metaInfo.description} />
    <meta property="twitter:title" content={metaInfo.title} />
    <title>{metaInfo.title}</title>

    <meta
      name="theme-color"
      media="(prefers-color-scheme: light)"
      content="var(--primary-text)"
    />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: dark)"
      content="var(--secondary-text)"
    />
  </head>S

  <body>
    <header>
      <img src="" alt="Marketplace logo" />
    </header>
    <main>
      <div class="intro-cta">
        <section transition:animate="slide">
          <p class="coming-soon">Coming Soon!</p>
          <h1 class="title">Party planning made simple!<br />Period.</h1>
          <p class="description">
            Party event management for the simple gathering the to large soirée.
          </p>
        </section>
        <Signup />
      </div>
      <div style={{ marginBottom: "4rem" }}></div>
      <div class="steps" role="list" transition:animate="fade">
        {
          steps.map((step) => (
            <Step
              step={step.data.step + ". " + step.data.title}
              description={step.data.description}
              img={step.data.image}
            />
          ))
        }
      </div>
    </main>
    <footer>
      <img src="" alt="Marketplace logo" />
      <div
        style={{
          display: "grid",
          gridTemplateColumns: "1fr max-content",
          gap: "2rem",
          alignItems: "center",
        }}
      >
        <p>Get connected</p>
        <div>
          <img src={facebook.src} alt="facebook" width="24" height="24" />
          <img src={instagram.src} alt="instagram" width="24" height="24" />
          <img src={twitter.src} alt="twitter" width="24" height="24" />
        </div>
      </div>
    </footer>
  </body>
  <ViewTransitions />

</html>
