---
interface Props {
  title: string;
  img: any;
  description: string;
  examples: Array<string>;
  type: ('host' | 'provider') | string & {}
}

const { type, title, img, description, examples } = Astro.props;
---

<div class={`persona persona-${type}`} role="listitem" style={`background-image: url(${img.src});`}>
  <h2 class="subheading">{title}</h2>
  <p class="description">{description}</p>
  <div class="examples" role="list">
    {examples.map((e) => <p role="listitem">{e}</p>)}
    <p role="listitem">& more...</p>
  </div>
</div>

<style>
  .persona {
    --chip-outline: white;
    --chip-bg: white;
    --chip-text: white;
    display: grid;
    gap: 2.5rem;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 20rem 1fr;
    padding: 1.25rem;
    align-items: flex-start;
    border-radius: 2rem;
    overflow: hidden;
    color: var(--white);
    position: relative;
    isolation: isolate;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .persona-host {
    --chip-outline: var(--host-primary);
    --chip-bg: var(--host-secondary);
    --chip-text: #3E0263;
  }

  .persona-provider {
    --chip-outline: var(--provider-primary);
    --chip-bg: var(--provider-secondary);
    --chip-text: #632B02;
  }

  .persona::before {
    --_background-offset: 100%;
    content: " ";
    background: linear-gradient(90deg, var(--primary-text), transparent var(--_background-offset));
    position: absolute;
    inset: 0;
    z-index: -1;
  }

  .bg-image {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
  }

  .subheading {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    text-transform: uppercase;
    font-size: 1rem;
  }
  
  .description {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    font-size: 1.5rem;
    font-weight: 600;
  }
  
  .examples {
    grid-row: 3 / -1;
    grid-column: 1 / 2;
    color: var(--primary);
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0.5rem;
    align-self: center;
  }

  .examples > p {
    border: 2px solid var(--chip-outline);
    border-radius: 0.5rem;
    padding: 0.25rem 1rem;
    width: fit-content;
    background-color: var(--chip-bg);
    color: var(--chip-text);
  }

  @media screen and (min-width: 66rem) {
    .persona {
      grid-template-rows: auto auto 1fr;
      padding: 2.5rem;
    }
    .persona::before {
      --_background-offset: 50%;
    }
  }
</style>
