---
import "../styles/global.css";

import { ViewTransitions } from "astro:transitions";
import facebook from "../images/facebook.svg";
import twitter from "../images/twitter.svg";
import instagram from "../images/instagram.svg";

const [meta] = await Astro.glob("../content/meta/*.md");
const metaInfo = {
  title: meta.frontmatter.title,
  description: meta.frontmatter.description,
};
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={metaInfo.description} />
    <meta name="author" content="OuiParty" />
    <meta property="og:description" content={metaInfo.description} />
    <meta property="og:title" content={metaInfo.title} />
    <meta name="twitter:card" content="summary" />
    <meta property="twitter:description" content={metaInfo.description} />
    <meta property="twitter:title" content={metaInfo.title} />
    <title>{metaInfo.title}</title>

    <meta
      name="theme-color"
      media="(prefers-color-scheme: light)"
      content="var(--primary-text)"
    />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: dark)"
      content="var(--secondary-text)"
    />
    <link rel="manifest" href="/manifest.json" />
  </head>

  <body>
    <header>
      <!-- <img src="" alt="EMU logo" /> -->
      <dl>
        <dt><a class="no-style-link" href="/" title="Event Management 4 you">EMU</a></dt>
        <dd>Event Management 4 U</dd>
      </dl>
    </header>
    <main>
      <slot />
    </main>
    <footer>
      <dl>
        <dt><a class="no-style-link" href="/" title="Event Management 4 you">EMU</a></dt>
        <dd>Event Management 4 U</dd>
      </dl>
      <div
        style={{
          display: "grid",
          gridTemplateColumns: "1fr max-content",
          gap: "2rem",
          alignItems: "center",
        }}
      >
        <p>Get connected soon!</p>
        <div>
          <img src={facebook.src} alt="facebook" width="24" height="24" />
          <img src={instagram.src} alt="instagram" width="24" height="24" />
          <img src={twitter.src} alt="twitter" width="24" height="24" />
        </div>
      </div>
      <p style={{textAlign: 'center', gridColumn: '1/-1'}}>&copy;2024 SlothMania, LLC. All rights reserved.</p>
      <a href="privacy-policy" style={{textAlign: 'center', gridColumn: '1/-1'}}>Privacy Policy</a>
    </footer>
  </body>
  <ViewTransitions />
</html>
<style>
  body {
    --_transparent_radial-size: 70% 155%;
    position: relative;
    background: radial-gradient(
        #eca6bf55 0% 0%,
        transparent var(--_transparent_radial-size)
      ),
      radial-gradient(
        #a6e4ec55 0% 0%,
        transparent var(--_transparent_radial-size)
      ),
      radial-gradient(
        #e8adfd55 0% 0%,
        transparent var(--_transparent_radial-size)
      );
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-position-x:
      center,
      150%,
      -65%;
    background-position-y: -65%, 100%, center;
    background-attachment: fixed;
  }

  header {
    grid-column: main;
    display: grid;
    /* grid-template-columns: 1fr auto; */
    place-items: center;
    place-content: center;
    min-height: 2.5rem;
  }

  header div:first-of-type {
    display: flex;
    align-items: baseline;
    gap: 1rem;
  }

  header dl {
    text-align: center;
    /* display: flex;
    align-items: baseline; */
  }

  header dt {
    font-size: 3rem;
    font-family: var(--alt-font-family);
  }

  header dd {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 0.85em;
    font-family: var(--secondary-font-family);
  }

  main {
    display: grid;
    row-gap: 6rem;
    grid-template-areas: var(--main-grid-template-areas);
    grid-template-columns: var(--main-grid-template-cols);
    grid-column: lgutter / rgutter;
    align-self: flex-start;
    padding-bottom: 3rem;
  }

  .header-logo {
    min-height: 2.5rem;
  }

  footer {
    --_grid-template-columns: 1fr;
    color: var(--primary-text);
    grid-column: main;
    display: grid;
    grid-template-columns: var(--_grid-template-columns);
    grid-row-gap: var(--grid_row_gap, 1.5rem);
    padding-block: 3rem;
  }

  footer dt {
    font-size: 3rem;
    font-family: var(--alt-font-family);
  }

  footer dd {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-family: var(--secondary-font-family);
  }

  .no-style-link {
    text-decoration: none;
    color: inherit;
  }

  @media screen and (min-width: 38rem) {
    footer {
      --_grid-template-columns: 1fr auto;
      --_grid-row-gap: 1rem;
    }
  }
</style>
