---
import "../styles/global.css";

import { ViewTransitions } from "astro:transitions";

import facebook from "../images/facebook.svg";
import twitter from "../images/twitter.svg";
import instagram from "../images/instagram.svg";

const [meta] = await Astro.glob("../content/meta/*.md");
const metaInfo = {
  title: meta.frontmatter.title,
  description: meta.frontmatter.description,
};
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={metaInfo.description} />
    <meta name="author" content="OuiParty" />
    <meta property="og:description" content={metaInfo.description} />
    <meta property="og:title" content={metaInfo.title} />
    <meta name="twitter:card" content="summary" />
    <meta property="twitter:description" content={metaInfo.description} />
    <meta property="twitter:title" content={metaInfo.title} />
    <title>{metaInfo.title}</title>

    <meta
      name="theme-color"
      media="(prefers-color-scheme: light)"
      content="var(--primary-text)"
    />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: dark)"
      content="var(--secondary-text)"
    />
    <link rel="manifest" href="/manifest.json" />
  </head>

  <body>
    <header>
      <img src="" alt="Marketplace logo" />
    </header>
    <main>
      <slot />
    </main>
    <footer>
      <img src="" alt="Marketplace logo" />
      <div
        style={{
          display: "grid",
          gridTemplateColumns: "1fr max-content",
          gap: "2rem",
          alignItems: "center",
        }}
      >
        <p>Get connected</p>
        <div>
          <img src={facebook.src} alt="facebook" width="24" height="24" />
          <img src={instagram.src} alt="instagram" width="24" height="24" />
          <img src={twitter.src} alt="twitter" width="24" height="24" />
        </div>
      </div>
    </footer>
    <div class="shadow-1" />
    <div class="shadow-2" />
    <div class="shadow-3" />
  </body>
  <ViewTransitions />
</html>
<style>
  body {
    position: relative;
  }

  header {
    grid-column: main;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    min-height: 2.5rem;
  }

  main {
    display: grid;
    row-gap: 6rem;
    grid-template-areas: var(--main-grid-template-areas);
    grid-template-columns: var(--main-grid-template-cols);
    grid-column: lgutter / rgutter;
    align-self: flex-start;
    padding-bottom: 3rem;
  }

  footer {
    grid-column: main;
    display: grid;
    grid-template-columns: 1fr auto
  }

  .header-logo {
    min-height: 2.5rem;
  }

  .shadow-1 {
    background-image: radial-gradient(#ECA6BF 0% 0%, transparent 59% 155%);
    grid-row: 1/3;
    grid-column: 1/-1;
    position: absolute;
    top: -70%;
    left: 0;
    bottom: 75%;
    right: 0;
    opacity: 0.5;
    z-index: -1;
  }
  .shadow-2 {
    background-image: radial-gradient(#E8ADFD 0% 0%, transparent 59% 155%);
    grid-row: 2/-1;
    grid-column: 1/-1;
    position: absolute;
    top: 8rem;
    bottom: 0;
    left: -50%;
    right: 50%;
    opacity: 0.5;
    z-index: -1;
  }
  .shadow-3 {
    background-image: radial-gradient(#A6E4EC 0% 0%, transparent 59% 155%);
    grid-row: 2/-1;
    grid-column: 1/-1;
    position: absolute;
    top: 40dvh;
    bottom: 0;
    left: 50%;
    right: -50%;
    opacity: 0.5;
  }
</style>